.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

img.circle {
  max-width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.twitter {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

div .twitter-timeline {
  margin-right: 3em;
  margin-left: 3rem;
}

@media screen and (max-width: 600px) {
  h1.header {
    font-size: 35px;
  }

  h5.header {
    font-size: 18px;
  }

  .twitter {
    width: 270px;
  }
}
