.col-m4 {
  float:none; /* disable the float */
  display: inline-block; /* make blocks inline-block */
  text-align: initial; /* restore text-align to default */
  background-color: red;
  text-decoration: line-through;
}
